h1{
    color: rgb(255, 255, 255);
}
body{
    background: linear-gradient(90deg,#000066,#FF9933);
}
hr{
    color: honeydew;
}
ol{
    color: rgb(211, 242, 247);
}
p{
    color: white;
    
}
ul{
    color: rgb(253, 236, 2);
}
q{
    color: thistle;
}
a{
    color: yellow;
}