h1{
    color: rgb(255, 255, 255);
}
body{
    background: linear-gradient(90deg,#000066,#FF9933);
}
hr{
    color:#FF9933
}
ol{
    color: rgb(153, 143, 88);
}
p{
    color: white;
    
}
ul{
    color: rgb(253, 236, 2);
}
q{
    color: rgb(255, 255, 255);
}
a{
    color: yellow;
}